{% extends 'customer/base.html'%}

{% block content %}
    <div class="container mb-5">
        <div class="row justify-content-center mt-5">
            <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
                <h1>About Us!</h1>
            </div>
        </div>
        <div class="row justify-content-center mt-1">
            <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum ipsam veritatis minima aliquam in unde nesciunt, maxime atque assumenda, delectus laborum eius obcaecati sint voluptatibus!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum possimus harum minus, aut totam a excepturi voluptatibus dolores laborum temporibus molestiae illum autem, pariatur tenetur veritatis cum sunt unde expedita.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam, unde! Sit, repellat nihil et ipsa obcaecati a repudiandae natus! Beatae ipsa vero ipsum sit itaque ex esse cumque, maiores alias laudantium quia adipisci doloremque iste. Repellendus impedit id soluta eius.</p>
            </div>
        </div>
    </div>
{% endblock %}